@charset "utf-8";


.footerwrap{width: 1920px; background-color: #2c2c2c; position: relative;z-index: 99;clear:both}
.footerwrap .footer1{width: 1920px; height: 244px; text-align: center }
.footerwrap .footer1 h3{color: #fff;padding: 30px 0 20px 0; box-sizing: border-box }
.footerwrap .footer1 .footerMenu{margin-bottom: 30px; } 
.footerwrap .footer1 .footerMenu li{display: inline-block; }
.footerwrap .footer1 .footerMenu li a{color: #fff; font-size: 20px; margin-left: 13px; }
.footerwrap .footer1 .footerMenu li a:first-child{margin-left: none; }
.footerwrap .footer1 p{color: #6b6b6b ; font-size: 13px; line-height: 2 }


.footerwrap .footer2{width:1920px;  height: 54px; background-color: #242424; }
.footerwrap .footer2 p{color: #6b6b6b ; font-size: 13px; line-height: 54px; margin: 0 20%; }











